# URL del Backend Principal (API de negocio)
# Valor local: http://localhost:8001
VITE_BACKEND_URL=http://localhost:8001

# URL del Servicio de Autenticación
# Valor local: http://localhost:8000
VITE_AUTH_SERVICE_URL=http://localhost:8000

# URL específica para obtener el token (Login)
# Valor local: http://localhost:8000/auth/token
VITE_TOKEN_URL=http://localhost:8000/auth/token
